*{
    box-sizing: border-box;
    margin: 0;
    
}
body{
    background: #777777;
    color:#777;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    width: 960px;
    margin:0 auto;    
}
.clearfix::after {
    content: " ";
    clear: both;
    display: table;
  }  
.container{
    text-align: center;
    width: 960px;
    margin: 0;
}
.nested{
    overflow: auto;
    margin: 0 auto;
    display:inline-block;
}

header{
    background: #ebebeb;
    width: 100%;
    padding: 30px;
    margin-top: 10px;
}
nav{
    background: #ebebeb;
    margin-top:10px;
    width: 100%;
    padding: 30px;
}
section{
    background: #ebebeb;
    width: 495px;
    float:left;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left:10px;
    padding-right: 10px;
    margin-top: 20px;
    
}
article{
    background: #777;
    color: #ebebeb; 
    width: 100%;
    float:left;
    padding: 20px;
    margin-top: 30px;
    padding-top: 15px;
    

}
h1{
    background:#ebebeb;
    color: #777;  
    float:left;
    width:100%;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 10px;


}
p{
    background: #ebebeb;
    color: #777;
    padding: 10px;
    float:left;
    width:100%;


}
aside{
    background: #ebebeb;
    float:right;
    text-align: center;
    width: 442px;
    height: 257px;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left:10px;
    padding-right: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    
}
footer{
    background: #ebebeb;
    padding: 30px;
    margin-top:10px;


}